header {
    width: 100%;
    float: top;
    background-color: #222f3f;
    height: 50px;
}

.main {
    width: 100%;
    background-color: #364759;
    font-family: 'Arial', sans-serif;
}

.div_menu {
    width: 100%;
    float: top;
    background-color: #364759;
    height: 25px;
    color: white;
}

.menu {
    margin: 10px;
    color: white;
    font-size: 13px;
}

a {
    text-decoration: none;
}



.container {
    margin: 0px auto;
    max-width: 1000px
}

.div_container2 {
    width: 100%;
    float: top;
    background-color: #e9edee;
    padding: 20px 0px 20px 0px;
    color: white;
}

.div_orange {
    background-color: #f76500;
    margin: 0px 20px 20px 20px;
    height: 30px;
    color: white;
    text-align: center;
}

.div_title {
    margin: 20px 20px 20px 20px;
    height: 160px;
    color: white;
    text-align: center;
    background-image: url(.//assets/bg-image.png);
    background-repeat: repeat-y;
    background-size: contain;
    text-align: center;
}

.div_4images {
    background-color: #fff;
    margin: 20px 20px 20px 20px;
    height: 320px;
}

.div_img {
    width: 21%;
    float: left;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    height: 250px;
    overflow: hidden;
}